body {
  background-color: rgb(206, 198, 206);
}

main {
  display: flex;
  width: auto;
  flex-wrap: nowrap;

  
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background: linear-gradient(90deg, red, black, white);
  padding-left: 15px;
  padding-right: 15px;
  
}

.pokeList {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
}

.pokeItem {
  border-radius: 15px;
  background-image: url('./pokecard.png');
  background-size: cover;
  margin-left: 5px;
  margin-right: 5px;
  margin-top: 5px;
  margin-bottom: 5px;
}